/* 1.正文宋体小四 */
body,
input,
textarea{
    font-family: "SimSun";
    font-size: 16px;
    /* 3.行间距1.5倍 */
    line-height: 1.5;
}
body{
  /* 11.所有HTML页面，左右留白等宽像素（参考WORD的页边距） */
  padding: 0 10%;
}

/* 2.标题 黑体 三号、小三、四号（三层级） */
h1,
h2,
h3{
  font-family: "Microsoft YaHei";
  font-weight: 700;
}
h1{
  font-size: 21px;
  text-align: center;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 19px;
}
/* 4.首行缩进 2个中文 */
p{
  text-indent: 2em;
  margin: 0;
}
/* 5.textarea边框颜色淡一点 */
textarea{  
  width: 100%;
  display: block;
  overflow: hidden;
  border: 1px solid #999;
  padding: 10px;
}

input[type="text"]{
  border: 1px solid #999;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  width: 80px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
  font-family: "SimSun";
  line-height: 1;
}

table{
  width: 100%;
  border-collapse: collapse;  
  border-color: #999;
  margin: 10px 0;
}
td{
  border: 1px solid #999;
  padding: 16px;
}
thead td,
thead th{
  text-align: center;
}
table textarea{
  border: 0px;
  overflow: auto;
  padding: 0;
  width: 100%;
}

.padding-left-div{
  padding-left: 32px;
}

/* 招标公告特殊样式 */
.zbgg h2{
  text-align: center;
}
.zbgg h3{
  text-indent: 32px;
}


/* 其他 */
.width-c{
  border-bottom-width: 2px;
  width: 100px;
}
.p-right{
  text-align: right;
}
.textarea{
  max-height:300px;
}
.table_textarea{
  padding: 3px 0;
  border: none;
  width: 90%;
  line-height: 23px;
}


.text-left {
  text-align: left;
}
.text-indent2 {
  text-indent: 2em;
}
.text-underline {
  border-bottom: 1px solid #999;
  padding-bottom: 2px;
}
.pd-l-2em {
  padding-left: 2em;
}
.text-gray {
  color: #aaa;
}

/*placeholder*/
.text-placeholder{color: #aaa;}
/*placeholder*/

/*增强型表格*/
.advance-table-btn{
  position: absolute;
  top: 0;
  display: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}
.advance-table-btn-add{
  background: #b3e5fc;
  left: -30px;
}
.advance-table-btn-del{
  background: #ffcdd2;
  right: -30px;
}
/*增强型表格*/

/*表单验证相关样式*/
input[type="text"].invalid,
input[type="text"].invalid:focus,
textarea.invalid,
textarea.invalid:focus,
select.invalid,
select.invalid:focus{
  border: 1px solid #f44336;
}
input[type="radio"].invalid,
input[type="radio"].invalid:focus,
input[type="checkbox"].invalid,
input[type="checkbox"].invalid:focus{
  border: 1px solid #f44336;
  outline: 1px solid #f44336;
}
/*表单验证相关样式*/

/*插入图片相关*/
.btn-add-img{
  display: inline-block;
  width: 90px;
  padding: 4px 0;
  background: #03a9f4;
  color: #fff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 14px;
  margin-top: 14px;
}
.pictures{
  overflow: hidden;
}
.picture-item{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  border: 1px solid #ccc;
}
.pictures a{
  
}
.pictures img{
  border: none;
}
.pictures .btn-container{
  padding: 4px 8px;
  background: #eee;
  text-align: right;
}
.pictures .btn-del-img{
  display: inline-block;
  width: 50px;
  padding: 2px 0;
  background: #f44336;
  color: #fff;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
/*插入图片相关*/

/*select组合选框*/
.group-select{
  display: inline;
}
.group-select .ctrl{
  display: inline;
  padding: 3px 7px;
  margin-right: 5px;
  cursor: pointer;
}
.group-select .ctrl.add{
  background: #b3e5fc;
}
.group-select .ctrl.del{
  background: #ffcdd2;
}
/*select组合选框*/

/*可变条目内容组*/
.info-group .info-group-body-inline,
.info-group .info-item-inline{
  display: inline;
}
.info-group .template{
  display: none;
}
.info-group .ctrl{
  display: inline;
  padding: 3px 7px;
  margin-right: 5px;
  cursor: pointer;
}
.info-group .ctrl.add{
  background: #b3e5fc;
  margin-left: 5px;
}
.info-group .ctrl.del{
  background: #ffcdd2;
}
/*可变条目内容组*/

/*复杂表格*/
.complex-table{
  position: relative;
}
.complex-table-template{
  display: none;
}
.complex-table .advance-table-btn{
  position: absolute;
  top: 0;
  display: block;
  width: 60px;
  height: 20px;
  line-height: 20px;
  color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}
.complex-table .advance-table-btn-add{
  background: #b3e5fc;
  left: -60px;
}
.complex-table .advance-table-btn-del{
  background: #ffcdd2;
  right: -60px;
}

/*复杂表格*/
.advance-table-wrap{
  position: relative;
}
/*强行修复一些样式*/
table{
  border-bottom: 1px solid #999;
}
/*强行修复一些样式*/