/* 1.正文宋体小四 */
body{
    font-family: "SimSun";
    font-size: 16px;
    /* 3.行间距1.5倍 */
    line-height: 1.5;
    /* 11.所有HTML页面，左右留白等宽像素（参考WORD的页边距） */
    padding: 0 10%;
}

/* 2.标题 黑体 三号、小三、四号（三层级） */
h1,
h2,
h3{
  font-family: "Microsoft YaHei";
  font-weight: 700;
}
h1{
  font-size: 21px;
  text-align: center;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 19px;
}
/* 4.首行缩进 2个中文 */
p{
  text-indent: 2em;
  margin: 0;
}
/* 5.textarea边框颜色淡一点 */
textarea{  
  width: 90%;
  overflow: hidden;
  border: 1px solid #999;
}

input[type="text"]{
  border: none;
  border-bottom: 1px solid #999;
  width: 80px;
}

table{
  width: 100%;
  border-collapse: collapse;  
  border-color: #999;
  margin: 10px 0;
}
td{
  border: 1px solid #999;
  padding: 8px;
}
thead td,
thead th{
  font-weight: 700;
}
table textarea{
  border: 0px;
  overflow: auto;
}

.padding-left-div{
  padding-left: 32px;
}

/* 招标公告特殊样式 */
.zbgg h2{
  text-align: center;
}
.zbgg h3{
  text-indent: 32px;
}


/* 其他 */
.width-c{
  border-bottom-width: 2px;
  width: 100px;
}
.p-right{
  text-align: right;
}
.textarea{
  max-height:300px;
}
.table_textarea{
  padding: 3px 0;
  border: none;
  width: 90%;
  line-height: 23px;
}


.text-left {
  text-align: left;
}
.text-indent2 {
  text-indent: 2em;
}
.text-underline {
  border-bottom: 1px solid #999;
  padding-bottom: 2px;
}
.pd-l-2em {
  padding-left: 2em;
}
.text-gray {
  color: #aaa;
}

/*placeholder*/
.text-placeholder{color: #aaa;}
/*placeholder*/

/*增强型表格*/
.advance-table-btn{
  position: absolute;
  top: 0;
  display: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}
.advance-table-btn-add{
  background: #b3e5fc;
  left: -30px;
}
.advance-table-btn-del{
  background: #ffcdd2;
  right: -30px;
}
/*增强型表格*/

/*表单验证相关样式*/
input[type="text"].invalid,
input[type="text"].invalid:focus,
textarea.invalid,
textarea.invalid:focus,
select.invalid,
select.invalid:focus{
  border: 1px solid #f44336;
}
input[type="radio"].invalid,
input[type="radio"].invalid:focus,
input[type="checkbox"].invalid,
input[type="checkbox"].invalid:focus{
  border: 1px solid #f44336;
  outline: 1px solid #f44336;
}
/*表单验证相关样式*/

/*插入图片相关*/
.btn-add-img{
  display: inline-block;
  width: 90px;
  padding: 4px 0;
  background: #03a9f4;
  color: #fff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 14px;
}
.pictures{
  overflow: hidden;
}
.picture-item{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}
.pictures a{
  
}
.pictures img{
  width: 100px;
  height: 100px;
  border: none;
}
.btn-del-img{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background: url("../img/del-img.png") no-repeat center;

}
/*插入图片相关*/
